In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/world-population-dataset/world_population.csv
/kaggle/input/football/IT Salary Survey EU  2020.csv
/kaggle/input/d/chandanchoudhury/world-population-dataset/world_country_stats.csv
/kaggle/input/d/chandanchoudhury/world-population-dataset/world_population_by_country_2023.csv
/kaggle/input/d/chandanchoudhury/world-population-dataset/world_population_by_year_1950_2023.csv
/kaggle/input/world-population-by-countries/world-population-by-country-2020.csv
/kaggle/input/world-population-by-countries/countries-continents-capitals.csv
/kaggle/input/world-population-by-countries/world-population-forcast-2020-2050.csv

In [2]:
path = '/kaggle/input/football/IT Salary Survey EU  2020.csv'
df = pd.read_csv(path)

In [3]:
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [4]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Ð¡ontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [5]:
df.describe()

,Age,Yearly brutto salary (without bonus and stocks) in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week"
count,1226.000000,1.253000e+03,8.850000e+02,373.000000
mean,32.509788,8.027904e+07,6.322459e+05,12.967828
std,5.663804,2.825061e+09,1.680508e+07,15.275174
min,20.000000,1.000100e+04,1.100000e+04,0.000000
25%,29.000000,5.880000e+04,5.500000e+04,0.000000
50%,32.000000,7.000000e+04,6.500000e+04,0.000000
75%,35.000000,8.000000e+04,7.500000e+04,30.000000
max,69.000000,1.000000e+11,5.000000e+08,40.000000

Questions: 
1. Basic Selection using `loc` and `iloc`: <br>
   a) Find all entries where the respondents are from Germany and have more than 5 
years of experience. Use the `loc` method. <br>

In [6]:
# a) Find all entries where the respondents are from Germany and have more than 5 years of experience. Use the loc method.
df['Years of experience in Germany'] = pd.to_numeric(df['Years of experience in Germany'] , errors = 'coerce')
df[df['Years of experience in Germany']>5]

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6.0,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6.0,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
11,24/11/2020 11:18:16,NaN,Male,Berlin,Software Engineer,25,11.0,Senior,C++,"Python, C/C++, SQL",...,13000,24,Self-employed (freelancer),Temporary contract,English,11-50,Product,Yes,NaN,NaN
21,24/11/2020 11:21:18,34.0,Male,Berlin,Software Architect,15,9.0,Lead,NodeJS,"Javascript / Typescript, SQL, Go, AWS, Kuberne...",...,7000,24,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,NaN
23,24/11/2020 11:23:11,59.0,Male,Berlin,Backend Developer,30,30.0,Senior,Java,"Kotlin, Java / Scala, SQL",...,2000,28,Full-time employee,Unlimited contract,German,101-1000,Product,No,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,08/01/2021 00:38:57,35.0,Male,Karlsruhe,Software Engineer,12,7.0,Senior,".Net, Angular","Javascript / Typescript, .NET, SQL, Azure, Docker",...,NaN,28,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,NaN
1232,08/01/2021 16:12:36,52.0,Male,Stuttgart,Software Engineer,NaN,30.0,Lead,Atlassian JIRA,"SQL, Perl",...,NaN,NaN,Self-employed (freelancer),Temporary contract,English,up to 10,Consulting / Agency,No,NaN,NaN
1242,16/01/2021 14:39:02,32.0,Male,Munich,ERP Consultant,10,6.0,Lead,SAP,NaN,...,NaN,30,Full-time employee,Unlimited contract,English,1000+,Product,No,0.0,0
1246,18/01/2021 09:51:30,38.0,Male,Berlin,Head of Engineering,18,8.0,Head,NaN,"Javascript / Typescript, SQL, Go, AWS, Google ...",...,20000,26,Full-time employee,Unlimited contract,German,51-100,Product,No,NaN,NaN
1251,19/01/2021 10:17:58,26.0,Male,SaarbrÃ¼cken,Frontend Developer,7,7.0,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0

**b) Select the first 10 entries in the dataset using `iloc`.**

In [7]:
# b) Select the first 10 entries in the dataset using iloc.

df.iloc[0:10]

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3.0,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4.0,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6.0,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1.0,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6.0,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
5,24/11/2020 11:15:53,32.0,Male,Berlin,DevOps,5,1.0,Senior,"AWS, GCP, Python,K8s","Python, AWS, Google Cloud, Kubernetes, Docker",...,5000,30,Full-time employee,Unlimited contract,English,11-50,Startup,No,NaN,NaN
6,24/11/2020 11:16:35,37.0,Male,Berlin,Frontend Developer,6,0.4,Middle,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,11-50,Product,No,NaN,NaN
7,24/11/2020 11:16:44,24.0,Male,Berlin,Frontend Developer,5,1.0,Senior,Typescript,Javascript / Typescript,...,NaN,27,Full-time employee,Unlimited contract,English,1000+,Product,No,0.0,600
8,24/11/2020 11:17:24,29.0,Male,Berlin,Backend Developer,8,2.0,Senior,PHP,"SQL, AWS, Docker",...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,30.0,NaN
9,24/11/2020 11:17:50,35.0,Male,Berlin,Software Engineer,15,3.0,Lead,Java,NaN,...,NaN,30,Full-time employee,Unlimited contract,English,101-1000,Product,No,0.0,NaN

**2. Filtering and Boolean Indexing:** <br>
   a) Filter out all the respondents who are working in Startups and have a yearly salary 
above â¬60,000. <br>

In [8]:
# a) Filter out all the respondents who are working in Startups and have a yearly salary above â¬60,000.
startupBool = df['Company type']=='Startup'
startup_df = df[startupBool]
startup_df[startup_df['Yearly brutto salary (without bonus and stocks) in EUR'] > 60000]

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
5,24/11/2020 11:15:53,32.0,Male,Berlin,DevOps,5,1.0,Senior,"AWS, GCP, Python,K8s","Python, AWS, Google Cloud, Kubernetes, Docker",...,5000,30,Full-time employee,Unlimited contract,English,11-50,Startup,No,NaN,NaN
13,24/11/2020 11:18:26,34.0,Male,Berlin,Software Engineer,14,5.0,Senior,Typescript,"PHP, Javascript / Typescript, AWS",...,NaN,28,Full-time employee,Unlimited contract,English,11-50,Startup,No,0.0,NaN
17,24/11/2020 11:19:10,41.0,Male,Berlin,Product Manager,18,2.0,Senior,NaN,SQL,...,NaN,28,Full-time employee,Unlimited contract,English,51-100,Startup,Yes,NaN,NaN
31,24/11/2020 11:27:34,31.0,Male,Berlin,Backend Developer,5,1.0,Middle,java,Kotlin,...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,Startup,No,NaN,NaN
33,24/11/2020 11:27:49,39.0,Male,Berlin,Software Engineer,8,5.0,Senior,Java,"Python, Java / Scala, SQL, AWS, Google Cloud, ...",...,NaN,29,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,05/01/2021 23:51:56,31.0,Male,Munich,Backend Developer,10,7.0,Senior,Ruby on Rails,"Python, Kotlin, Ruby, AWS, Docker",...,80000,27,Full-time employee,Unlimited contract,English,101-1000,Startup,No,NaN,NaN
1227,06/01/2021 21:42:52,34.0,Male,Berlin,Frontend Developer,6,2.0,Middle,Javascript,Javascript / Typescript,...,0,25,Full-time employee,NaN,English,101-1000,Startup,No,32.0,0
1244,16/01/2021 22:23:04,32.0,Male,Munich,Software Engineer,10,5.0,Head,Scala,"Javascript / Typescript, Java / Scala, SQL, Go...",...,0,24,Full-time employee,Unlimited contract,English,11-50,Startup,No,NaN,NaN
1247,18/01/2021 11:50:02,34.0,Male,Zurich,Software Engineer,7,2.0,Senior,PHP,PHP,...,NaN,25,Full-time employee,Unlimited contract,English,11-50,Startup,No,NaN,NaN
1252,19/01/2021 12:01:11,26.0,Male,Berlin,DevOps,2,2.0,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

**b) Find the details of respondents who have lost their job due to the coronavirus 
outbreak.**

In [9]:
Job_lost_covid = df[df['Have you lost your job due to the coronavirus outbreak?'] == 'Yes']
Job_lost_covid.iloc[:,:-2]

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Yearly bonus + stocks in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6.0,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,120000,100000.0,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes
11,24/11/2020 11:18:16,NaN,Male,Berlin,Software Engineer,25,11.0,Senior,C++,"Python, C/C++, SQL",...,101,80000.0,13000,24,Self-employed (freelancer),Temporary contract,English,11-50,Product,Yes
14,24/11/2020 11:18:40,28.0,Male,Berlin,Designer (UI/UX),11,2.0,Senior,NaN,NaN,...,9400,66000.0,NaN,30,Full-time employee,Unlimited contract,English,1000+,Product,Yes
17,24/11/2020 11:19:10,41.0,Male,Berlin,Product Manager,18,2.0,Senior,NaN,SQL,...,NaN,100000.0,NaN,28,Full-time employee,Unlimited contract,English,51-100,Startup,Yes
25,24/11/2020 11:25:03,38.0,Male,Berlin,Team Lead,18,4.0,Lead,iOS,"Swift, AWS",...,4000,80000.0,2000,28,Full-time employee,Unlimited contract,English,101-1000,Product,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,05/01/2021 22:12:30,44.0,Male,Munich,Software Architekt,20,20.0,Head,Java Backend,"Java / Scala, SQL, Docker",...,15000,95000.0,15000,30,Full-time employee,Unlimited contract,German,101-1000,Product,Yes
1234,10/01/2021 22:31:57,26.0,Male,Saint-Petersburg,Project Manager,5,NaN,Middle,Python,"Python, .NET, Azure",...,2000,NaN,NaN,24,Full-time employee,Unlimited contract,Russian,1000+,Product,Yes
1235,10/01/2021 22:32:12,26.0,Male,Saint-Petersburg,Project Manager,5,NaN,Middle,Python,"Python, .NET, Azure",...,2000,NaN,NaN,24,Full-time employee,Unlimited contract,Russian,1000+,Product,Yes
1236,11/01/2021 12:12:34,39.0,Male,Berlin,QA Engineer,7,5.0,Senior,Java,"Kotlin, Google Cloud",...,3000,65000.0,10000,30,Full-time employee,Unlimited contract,English,1000+,Product,Yes
1248,18/01/2021 15:05:50,31.0,Male,Berlin,Backend Developer,9,5.0,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,70000.0,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes


**3. Column Operations and Transformation:** <br>
   a) Create a new column named `Experience Difference`, which shows the difference 
between `Total years of experience` and `Years of experience in Germany`. <br>

In [10]:
df['Total years of experience'] = pd.to_numeric(df['Total years of experience'], errors = 'coerce')
df['Years of experience in Germany'] = pd.to_numeric(df['Years of experience in Germany'], errors = 'coerce')

df['Experience Difference'] = df['Total years of experience']- df['Years of experience in Germany']

df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR",Experience Difference
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5.0,3.0,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN,2.0
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7.0,4.0,Senior,Ruby,NaN,...,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN,3.0
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12.0,6.0,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN,6.0
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4.0,1.0,Junior,Javascript,NaN,...,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN,3.0
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17.0,6.0,Senior,C# .NET,".NET, SQL, AWS, Docker",...,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN,11.0

   **b) Calculate the average salary for each City.**

In [11]:
city_df = df.groupby('City')
city_df['Yearly brutto salary (without bonus and stocks) in EUR'].mean()

City
Aachen        40082.000000
Amsterdam     74538.888889
Ansbach       42000.000000
Barcelona     31000.000000
Basel        115000.000000
                 ...
Wroclaw       36000.000000
WÃ¼rzburg      75000.000000
Zurich       123300.000000
ZÃ¼rich        35000.000000
warsaw        50000.000000
Name: Yearly brutto salary (without bonus and stocks) in EUR, Length: 119, dtype: float64

**4. Group By Operations:** <br>
   a) Group the data by City and calculate the average `Yearly brutto salary (without 
bonus and stocks) in EUR` for each city.

In [12]:
city_df = df.groupby('City')
city_df['Yearly brutto salary (without bonus and stocks) in EUR'].mean()

City
Aachen        40082.000000
Amsterdam     74538.888889
Ansbach       42000.000000
Barcelona     31000.000000
Basel        115000.000000
                 ...
Wroclaw       36000.000000
WÃ¼rzburg      75000.000000
Zurich       123300.000000
ZÃ¼rich        35000.000000
warsaw        50000.000000
Name: Yearly brutto salary (without bonus and stocks) in EUR, Length: 119, dtype: float64

**b) Group the data by Position and calculate the count of respondents for each 
Seniority level within each position.**

In [13]:
df.rename(columns = {"Position ": "Position"} , inplace=True )

seniority_level_df = df.groupby('Position')
# df.head(1)
seniority_level_df.size()
# df.columns

Position
AI Management                 1
Account Managet               1
Agile Coach                   1
Analyst                       1
Analytics engineer            1
                             ..
data engineer                 1
iOS Developer                 1
support engineer              1
technical business analyst    1
working student (QA)          1
Length: 148, dtype: int64

**5. Aggregation:** <br>
   a) Find the minimum, maximum, and average salaries of respondents for each 
Programming language (main technology). <br>

In [14]:
df_salaries_tech = df.groupby('Your main technology / programming language')
df_salaries_tech.agg({'Yearly brutto salary (without bonus and stocks) in EUR':['mean', 'min' , 'max']})

                                            Yearly brutto salary (without bonus and stocks) in EUR  \
                                                                                              mean
Your main technology / programming language
-                                                                                 50000.000000
--                                                                                62000.000000
.NET                                                                              64040.000000
.Net                                                                              74666.666667
.Net, Angular                                                                     75000.000000
...                                                                                        ...
swift                                                                             75000.000000
typescript                                                                        88000.000000
yaml                                                                              67500.000000
ÐÑÐ¼Ñ                                                                              79000.000000
Ð¡#                                                                                88000.000000


                                                 min       max
Your main technology / programming language
-                                            50000.0   50000.0
--                                           62000.0   62000.0
.NET                                         21120.0  115000.0
.Net                                         60000.0   99000.0
.Net, Angular                                75000.0   75000.0
...                                              ...       ...
swift                                        75000.0   75000.0
typescript                                   88000.0   88000.0
yaml                                         65000.0   70000.0
ÐÑÐ¼Ñ                                         79000.0   79000.0
Ð¡#                                           88000.0   88000.0

[256 rows x 3 columns]

  **b) Calculate the median and standard deviation of salaries for each Seniority level.**

In [15]:
seniority_level_df.agg({'Yearly brutto salary (without bonus and stocks) in EUR':['median', 'std']})[13:23:2]
#showed only rows from 13 to 23 with jume of 2 to show case std as it is not in every example

                       Yearly brutto salary (without bonus and stocks) in EUR  \
                                                                       median
Position
Backend Developer                                                 70000.0
Beikoch                                                           30000.0
Business Analyst                                                  68500.0
C/C++/Java developer                                              48000.0
Chief Research Officer                                           115000.0


                                 std
Position
Backend Developer       21524.117722
Beikoch                          NaN
Business Analyst         5392.896562
C/C++/Java developer             NaN
Chief Research Officer           NaN

In [16]:
df.head(1)

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR",Experience Difference
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5.0,3.0,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN,2.0

**6. Merging (Bonus task if needed):** <br>
   a) Assume you have another dataset with city population data. Merge the IT Salary 
Survey data with the city population dataset to calculate the average salary per capita for 
each city.

In [17]:
city_population = pd.read_csv('/kaggle/input/world-population-dataset/world_population.csv')

city_population_df = pd.DataFrame(city_population)

city_population_df.rename(columns={'Capital' : "City"} , inplace = True)
city_population_df.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'City', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (kmÂ²)', 'Density (per kmÂ²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

b) Merge the salary dataset with a bonus dataset (assume another dataset for 
bonuses), and calculate the total compensation (salary + bonus) for each respondent. 

 

7. Exploratory Data Analysis: 
   a) How many respondents are Male and how many are Female? 
   b) What is the distribution of Seniority levels across different Cities?

In [18]:
# Assuming both datasets have a 'City' column to merge on
merged_data = pd.merge(df, city_population_df, on='City')

merged_data.rename(columns = {'Yearly brutto salary (without bonus and stocks) in EUR': 'Salary'} , inplace = True)


merged_data.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often', 'Salary',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Ð¡ontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR',
       'Experience Difference', 'Rank', 'CCA3', 'Country/Territory',
       'Continent', '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (kmÂ²)', 'Density (per kmÂ²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

In [19]:

# Calculate average salary per capita
total_salary_by_city = merged_data.groupby('City')['Salary'].sum()
# to make this total salay a dataFram column we do these steps 
merged_data = merged_data.set_index('City')
merged_data['Total_Salary'] = total_salary_by_city

# Calculate the per capita salary
merged_data['Salary_Per_Capita'] = merged_data['Total_Salary'] / merged_data['2022 Population']

# Reset index if needed
merged_data = merged_data.reset_index()

# Display the result
new = merged_data[['City', 'Salary_Per_Capita']]
new[new['City'] != 'Berlin']

           City  Salary_Per_Capita
55       London           0.006518
104      Vienna           0.017618
194      Moscow           0.001235
198      Warsaw           0.001530
216      Moscow           0.001235
217      Moscow           0.001235
226    Helsinki           0.044951
232        Kiev           0.000680
238      London           0.006518
243   Amsterdam           0.038195
253     Tallinn           0.112363
254      Prague           0.026884
258   Stockholm           0.028305
260      Moscow           0.001235
267      Warsaw           0.001530
270     Tallinn           0.112363
272     Tallinn           0.112363
329        Rome           0.001885
350   Amsterdam           0.038195
376   Amsterdam           0.038195
395       Paris           0.001888
402   Stockholm           0.028305
406   Amsterdam           0.038195
432       Paris           0.001888
434      London           0.006518
458      Prague           0.026884
460   Amsterdam           0.038195
464      Prague           0.026884
471   Bucharest           0.000560
477    Helsinki           0.044951
483      Prague           0.026884
493       Minsk           0.011537
507      Moscow           0.001235
528   Amsterdam           0.038195
552      London           0.006518
568   Amsterdam           0.038195
571   Stockholm           0.028305
574      Dublin           0.009795
575      Madrid           0.001514
576        Rome           0.001885
580      Lisbon           0.003748
581       Sofia           0.009437
582        Rome           0.001885
585    Helsinki           0.044951
599      Madrid           0.001514
605      London           0.006518
609      Vienna           0.017618
612    Helsinki           0.044951
617   Stockholm           0.028305
628      Prague           0.026884
649      Moscow           0.001235
655   Amsterdam           0.038195
681    Brussels           0.003861
682   Stockholm           0.028305
684  Copenhagen           0.015640
686      Lisbon           0.003748
714   Amsterdam           0.038195
726      Prague           0.026884